footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: var(--primaryColor);
    padding: 0.5rem 0 1rem;
    color: white;
}

.footer-container {
    max-width: 600px;
    margin: 0 auto;
}

.number-of-items {
    text-align: right;
    margin: 0 25px;
}

.total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
}

.total-price {
    font-size: 1.5rem;
}