.search-container {
    border: 1px solid gray;
    margin: 12px 10px 5px;
    display: flex;
    align-items: center;
    border-radius: 14px;
    background-color: white;
}

#search-input {
    border: none;
    min-height: 50px;
    width: 100%;
    text-indent: 10px;
    border-radius: 14px;
    outline: none;
}

.search-icon {
    color: var(--primaryColor);
    font-size: 1.3rem;
    margin-right: 10px;
}